.photo-grid {
  display: flex;
  flex-flow: row wrap;
}

.photo {
  display: inline-block;
  width: calc((100% - 6em)/6);
  margin: 0 0.5em;

  .photo__figure {
    width: 100%;
    // max-height: 150px;
    overflow: hidden;

    img{
      max-width: 100%;
      height: auto;
    }
  }
  p {
        font-size: 12px;
  }
}

.photos__msg {
  min-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
