<mat-progress-bar mode="query" value="0" color="accent"></mat-progress-bar>
<mat-card>
  <mat-card-title-group>
    <mat-card-title>0 Photos</mat-card-title>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>sort</mat-icon>
    </button>
  </mat-card-title-group>
  <mat-card-content *ngIf="photos; else loading">
    <div class="photo" *ngFor="let photo of photos | slice: start : end">
      <img src="{{photo.url}}" alt="img">
      <p>{{photo.title}}</p>
    </div>
  </mat-card-content>
  <mat-card-footer >
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" [pageIndex]="currentPage" (page)= "pageEvent = handlePage($event)">
    </mat-paginator>
  </mat-card-footer>
</mat-card>