.photo {
  display: inline-block;
  max-width: 300px;
  padding: 5px;
  margin: 0 0.5em;

  .photo__figure {
    width: 300px;
    max-height: 150px;
    overflow: hidden;

    img{
      max-width: 350px;
      height: auto;
    }
  }
}
