<mat-progress-bar mode="query" value="0" color="accent"></mat-progress-bar>
<mat-card>
  <mat-card-title-group>
    <mat-card-title>{{length}} Photos</mat-card-title>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>sort</mat-icon>
    </button>
  </mat-card-title-group>
<div *ngIf="photos.length > 1; else loading">
  <mat-card-content>
    <div class="photo" *ngFor="let photo of photos | slice: start : end">
      <div class="photo__figure">
        <img src="{{photo.url}}" alt="img">
      </div>
      <p>{{photo.title | slice: 0:34}}</p>
    </div>
  </mat-card-content>
  <mat-card-footer >
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" [pageIndex]="currentPage" (page)= "pageEvent = handlePage($event)">
    </mat-paginator>
  </mat-card-footer>
</div>
</mat-card>
<ng-template #loading>
  <div class="photos__msg">
      <p class="color--muted">Select an Album</p>
  </div>
</ng-template>