.photo {
  display: inline-block;
  max-width: 250px;
  padding: 5px;
  margin: 0 0.5em;

  .photo__figure {
    width: 250px;
    max-height: 150px;
    overflow: hidden;

    img{
      max-width: 350px;
      height: auto;
    }
  }
}

.photos__msg {
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
