<mat-nav-list style="padding-top: 0; height: 100%; ">
  <mat-card style="padding: 0; height: 100%; ">
    <mat-toolbar>
      <div class="toolbar--default" *ngIf="!isSearchBarActive">
        <span class="header">Users</span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="sortList()">
          <mat-icon style="font-size: 18px;">filter_list</mat-icon>
        </button>
        <button mat-icon-button (click)="isSearchBarActive = true">
          <mat-icon style="font-size: 18px;">search</mat-icon>
        </button>
      </div>
      <div class="
            search-bar" *ngIf="isSearchBarActive">
        <div class="search-bar__container" floatLabel="never">
          <button mat-button mat-icon-button aria-label="Clear" (click)="revertList()">
            <mat-icon style="font-size: 18px;">keyboard_backspace</mat-icon>
          </button>
          <input type="search" class="search-bar__area" (change)="displayUpdatedList($event.target.value)" placeholder="search">
        </div>
      </div>
    </mat-toolbar>
    <perfect-scrollbar style="height: 94%;">
      <a mat-list-item *ngFor='let user of users' routerLinkActive="active-link" routerLink="/users/{{user.id}}">
        <img matListAvatar src="https://via.placeholder.com/150/" />
        <h5 matLine class="fontsize--small">{{user.name}}</h5>
        <h6 matLine class="fontsize--small">
          <span class="color--muted">{{user.username}}</span>
          <span class="block color--muted">{{user.email}}</span>
        </h6>
        <mat-divider [inset]="true" style="left: -30px;"></mat-divider>
      </a>
    </perfect-scrollbar>
  </mat-card>
</mat-nav-list>