:host {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.album__list{
  min-height: 185px;
  height: 22%;
}

.photo__list{
  margin-top: 44px;
  //min-height: calc(88% - 44px);
  height: 100%;
}

.checkbox__sublabel {
  text-align: right;
  float: right;
  margin-right: 15px;
}

.mat-fab {
  top: -35px;
  right: 35px;
  position: relative;
}

.footer--custom{
  height: 5px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.photo-grid{
  margin-top: 1em;
}

.users__msg{
  display: flex;
  min-height: 100px;
  justify-content: center;
  align-items: center;
}