<mat-card class="album__list">
  <mat-card-title-group>
    <mat-card-title>Albums</mat-card-title>
    <span class="spacer"></span>
    <mat-checkbox>select all</mat-checkbox>
  </mat-card-title-group>
  <mat-card-content *ngIf="(albums$ | async) as albums">
    <div *ngIf="albums.length > 1;else loading">
      <mat-checkbox (change)="onChange($event,album)" [checked]="album.checked" class="checkbox--custom" *ngFor='let album of albums'>
        {{album.title | slice:0:25}}
        <span class="checkbox__sublabel color--muted">200 photos</span>
      </mat-checkbox>
    </div>
  </mat-card-content>
  <mat-card-footer class="footer--custom" align="end">
    <button mat-fab>
      <mat-icon aria-label="Button with add-icon">add</mat-icon>
    </button>
  </mat-card-footer>
</mat-card>

<app-photo [isActive]="canActivate" [photos]="photosList"></app-photo>

<ng-template #loading>
  <div class="users__msg">
    <p class="color--muted">Select a user first</p>
  </div>
</ng-template>