<mat-card class="album__list">
  <mat-card-title-group>
    <mat-card-title>Albums</mat-card-title>
    <span class="spacer"></span>
    <mat-checkbox [disabled]="!canActivate">select all</mat-checkbox>
  </mat-card-title-group>
  <mat-card-content style="height: 100%;" *ngIf="albumContent.length > 1;else loading">
    <div class="checkbox-grid">
      <mat-checkbox *ngFor="let album of albumContent" (change)="onChange($event,album)" [checked]="album.checked"
        class="checkbox--custom">
        {{album.title | slice:0:35}}
        <span class="checkbox__sublabel color--muted">{{album.photoCount}}</span>
      </mat-checkbox>
    </div>
  </mat-card-content>
  <mat-card-actions class="footer--custom" align="end">
    <button mat-fab (click)="openDialog()">
      <mat-icon aria-label="Button with add-icon">add</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<mat-progress-bar *ngIf="progressBarMode" [mode]="progressBarMode" color="accent"></mat-progress-bar>
<app-photo class="photo__list" [isActive]="albumContent.length > 1 ? true : false" [photos]="photosList"></app-photo>

<ng-template #loading>
  <div class="users__msg">
    <p class="color--muted">Select a user first</p>
  </div>
</ng-template>