.container {
  background-color: #f3f3f3;
  height: 100%;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.sidebar {
  width: 20%;
  min-width: 250px;
  padding: 1em 0.5em 1em 3em ;
}

.album {
  width: 78%;
  padding: 1em 3em 1em 0.5em;
}