.container {
  background-color: #f3f3f3;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.sidebar {
  width: 22%;
  min-width: 300px;
  padding: 1em 0.5em 1em 3em ;
}

.album {
  width: 78%;
  padding: 1em 3em 1em 0.5em;
}