/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: #f3f3f3;
  margin: 0;
  font-family: "Roboto";
  height: 100vh;
}

.block {
  display: block;
}

.color--muted {
  color: rgba(0, 0, 0, 0.54);
}

.mat-checkbox-label {
  .checkbox--custom & {
    width: 100%;
    float: right;
    font-size: 13px;
  }
}

.mat-checkbox-layout{
  .checkbox--custom & {
    width: calc(100%/3);
    margin-bottom: 10px;
    min-width: 280px;
  }
}

.fontsize--small{
  .mat-list-text & {
    font-size: 13px !important;
  }
}


 .mat-form-field-underline {
  display: none;
}




